<!-- <div style="text-align: center;background-color: silver;" >
  
<mat-card  class="center">
  <mat-card-title>WELCOME TO XYZ PVT LTD..</mat-card-title><br>
  <mat-card-title>
    User Login
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="email">
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput placeholder="password">
    </mat-form-field><br/>
    <button mat-raised-button color="primary" style="margin-right:5px;">login</button>
    <button mat-raised-button color="primary" style="margin-right:5px;">register</button>
  </mat-card-content>
</mat-card> -->
<!-- <div style="background-color: silver;"> -->
  <router-outlet></router-outlet>
<!-- </div> -->
