<div  style="margin-left: 20%;">
    <form [formGroup]="depositform" >
        <div class="row col-12">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Account Number</mat-label>
                    <input matInput   formControlName="accountno" type="number" 
                    (input)="alphaNumberOnly($event)"
                    (keypress)="alphaNumberOnly($event)" ><!-- (paste)="onPaste($event)"-->
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput   formControlName="mobile" type="text" 
                    (input)="alphaNumberOnly($event)"
                    (keypress)="alphaNumberOnly($event)" (paste)="onPaste($event)">
                </mat-form-field>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-md-6" style="margin-left: 30%;">
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput   formControlName="amount" type="text" 
                    (input)="alphaNumberOnly($event)"
                    (keypress)="alphaNumberOnly($event)" (paste)="onPaste($event)">
                </mat-form-field>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-md-6">
                <button type="button" class="sub" style="height:50%" (click)="submit()">Submit</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="cancel" style="height:60%;float:center;" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
    <div [ngClass]="spinshow?'overlay':''">
        <div>
            <mat-progress-spinner *ngIf="spinshow" style="margin-left: 40%;margin-top: 20%;" diameter=50 
                                  mode="indeterminate" 
                                  color="warn">
            </mat-progress-spinner> 
        </div>
        </div>
</div>
