.center {
    margin: auto;
    width: 50%;
    
    border: 3px solid rgb(54, 63, 54) ;
    // border: linear-gradient(to right, red, purple);
    padding: 10px;
    margin-top: 5%;
    border-image: linear-gradient(45deg, purple, orange) 1;
    border-radius:10px;
    // min-width: 600px;
    // background: linear-gradient(white, white) padding-box,
    //           linear-gradient(to right, darkblue, darkorchid) border-box;
  }
           
  .btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
          
  .btn-grad1 {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
          
  .btn-grad2 {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
          
  .logout {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    // margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .logout {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 .mobile_number_style{
  float: right;
  
  margin-right: -21%;
 }

 .overlay{
  margin: auto;
  // width: 50%;
  // height: 56%;
  // margin-top: 5%;
  // margin-left: 25%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;

 
  // border: linear-gradient(to right, red, purple);
  
}